.promo {
    background-image: url(../images/promo_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 708px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.promo__wrapper {
    margin-left: 8%;
    width: 38%;
}

.promo__title {
    font-size: 58px;
    font-weight: 600;
}

.promo__text {
    font-size: 24px;
}

.promo__btn {
    color: white;
    width: 207px;
    height: 64px;
    border: 0px;
    border-radius: 5px;
    background-color: #2F80ED;
    font-size: 22px;
}